<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>search cat Breeds</mat-label>
    <input
      type="text"
      placeholder="..Abyssi.."
      aria-label="search cat Breeds"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="selectionChange.emit($event.option.value)"
    >
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option.name">{{ option.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<style>
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
</style>
