<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        required
        placeholder="Ex. pat@example.com"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </mat-form-field>

    <button mat-flat-button type="submit">Login</button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
