<div class="signup-container">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>username</mat-label>
      <input matInput [(ngModel)]="user.username" name="username" required />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="user.firstName" name="firstName" required />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="user.lastName" name="lastName" required />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [(ngModel)]="user.email"
        name="email"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Sign Up</button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
