<div class="container">
  <div>
    <span>Mi Aplicación Angular</span>
    <div class="home-container">
      <div>
        <p>Autocomplete</p>
        <app-auto-complete
          [items]="catBreeds"
          (selectionChange)="handleSelection($event)"
          [resetInput]="resetAutocomplete"
        ></app-auto-complete>
        <button (click)="clearSelection()">Clear Selection</button>
        <ul *ngIf="filteredCatBreeds.length">
          <li *ngFor="let breed of filteredCatBreeds">
            {{ breed.id }}: {{ breed.name }} - {{ breed.description }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content">
    <h1>¡Bienvenido a mi página principal!</h1>
    <p>Este es el contenido de mi página principal.</p>
  </div>
</div>
